<a href="https://colab.research.google.com/github/leticiajsx/alura-challenge-data-science/blob/main/limpeza_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Semana 1 - Limpeza e tratamento dos dados

### Importando bibiliotecas

In [156]:
import pandas as pd

### Obter dados

In [157]:
dados = pd.read_json('https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json')
dados

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

### Dicionario dos dados

* `customerID`: número de identificação único de cada cliente
* `Churn`: se o cliente deixou ou não a empresa 
* `gender`: gênero (masculino e feminino) 
* `SeniorCitizen`: informação sobre um cliente ter ou não idade igual ou maior que 65 anos 
* `Partner`:  se o cliente possui ou não um parceiro ou parceira
* `Dependents`: se o cliente possui ou não dependentes
* `tenure`:  meses de contrato do cliente
* `PhoneService`: assinatura de serviço telefônico 
* `MultipleLines`: assisnatura de mais de uma linha de telefone 
* `InternetService`: assinatura de um provedor internet 
* `OnlineSecurity`: assinatura adicional de segurança online 
* `OnlineBackup`: assinatura adicional de backup online 
* `DeviceProtection`: assinatura adicional de proteção no dispositivo 
* `TechSupport`: assinatura adicional de suporte técnico, menos tempo de espera
* `StreamingTV`: assinatura de TV a cabo 
* `StreamingMovies`: assinatura de streaming de filmes 
* `Contract`: tipo de contrato
* `PaperlessBilling`: se o cliente prefere receber online a fatura
* `PaymentMethod`: forma de pagamento
* `Charges.Monthly`: total de todos os serviços do cliente por mês
* `Charges.Total`: total gasto pelo cliente

### Normalizar dados

In [158]:
customer = pd.json_normalize(data=dados.customer)
phone = pd.json_normalize(data=dados.phone)
internet = pd.json_normalize(data=dados.internet)
account = pd.json_normalize(data=dados.account, sep='_')

In [159]:
dados = pd.concat([dados[['customerID', 'Churn']], customer, phone, internet, account], axis=1) 
dados

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

### Informações dos dados

In [160]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges_Monthly   7267 non-null   float64
 20  Charges_Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

### Analisar os dados

In [161]:
for coluna in dados.columns:
    print('-------------------------')
    print(dados[coluna].value_counts())
    print('-------------------------')

-------------------------
0002-ORFBO    1
6614-VBEGU    1
6637-KYRCV    1
6635-MYYYZ    1
6635-CPNUN    1
             ..
3374-TTZTK    1
3374-PZLXD    1
3374-LXDEV    1
3373-YZZYM    1
9995-HOTOH    1
Name: customerID, Length: 7267, dtype: int64
-------------------------
-------------------------
No     5174
Yes    1869
        224
Name: Churn, dtype: int64
-------------------------
-------------------------
Male      3675
Female    3592
Name: gender, dtype: int64
-------------------------
-------------------------
0    6085
1    1182
Name: SeniorCitizen, dtype: int64
-------------------------
-------------------------
No     3749
Yes    3518
Name: Partner, dtype: int64
-------------------------
-------------------------
No     5086
Yes    2181
Name: Dependents, dtype: int64
-------------------------
-------------------------
1     634
72    369
2     246
3     207
4     185
     ...
38     60
39     59
44     54
36     50
0      11
Name: tenure, Length: 73, dtype: int64
-------------------------
-------------------------
Yes    6560
No      707
Name: PhoneService, dtype: int64
-------------------------
-------------------------
No                  3495
Yes                 3065
No phone service     707
Name: MultipleLines, dtype: int64
-------------------------
-------------------------
Fiber optic    3198
DSL            2488
No             1581
Name: InternetService, dtype: int64
-------------------------
-------------------------
No                     3608
Yes                    2078
No internet service    1581
Name: OnlineSecurity, dtype: int64
-------------------------
-------------------------
No                     3182
Yes                    2504
No internet service    1581
Name: OnlineBackup, dtype: int64
-------------------------
-------------------------
No                     3195
Yes                    2491
No internet service    1581
Name: DeviceProtection, dtype: int64
-------------------------
-------------------------
No                     3582
Yes                    2104
No internet service    1581
Name: TechSupport, dtype: int64
-------------------------
-------------------------
No                     2896
Yes                    2790
No internet service    1581
Name: StreamingTV, dtype: int64
-------------------------
-------------------------
No                     2870
Yes                    2816
No internet service    1581
Name: StreamingMovies, dtype: int64
-------------------------
-------------------------
Month-to-month    4005
Two year          1743
One year          1519
Name: Contract, dtype: int64
-------------------------
-------------------------
Yes    4311
No     2956
Name: PaperlessBilling, dtype: int64
-------------------------
-------------------------
Electronic check             2445
Mailed check                 1665
Bank transfer (automatic)    1589
Credit card (automatic)      1568
Name: PaymentMethod, dtype: int64
-------------------------
-------------------------
20.05     65
19.85     46
19.90     46
19.70     45
19.55     45
          ..
23.45      1
116.55     1
106.85     1
68.55      1
67.85      1
Name: Charges_Monthly, Length: 1585, dtype: int64
-------------------------
-------------------------
           11
20.2       11
19.75       9
19.55       9
19.9        9
           ..
272         1
1426.45     1
371.6       1
6786.4      1
3707.6      1
Name: Charges_Total, Length: 6531, dtype: int64
-------------------------

### Identificar dados faltantes

In [162]:
for coluna in dados.columns:
    print('-------------------------')
    print(dados[(dados[coluna] == '') | (dados[coluna] == ' ' ) | (dados[coluna].isnull())][coluna].value_counts())
    print('-------------------------')

-------------------------
Series([], Name: customerID, dtype: int64)
-------------------------
-------------------------
    224
Name: Churn, dtype: int64
-------------------------
-------------------------
Series([], Name: gender, dtype: int64)
-------------------------
-------------------------
Series([], Name: SeniorCitizen, dtype: int64)
-------------------------
-------------------------
Series([], Name: Partner, dtype: int64)
-------------------------
-------------------------
Series([], Name: Dependents, dtype: int64)
-------------------------
-------------------------
Series([], Name: tenure, dtype: int64)
-------------------------
-------------------------
Series([], Name: PhoneService, dtype: int64)
-------------------------
-------------------------
Series([], Name: MultipleLines, dtype: int64)
-------------------------
-------------------------
Series([], Name: InternetService, dtype: int64)
-------------------------
-------------------------
Series([], Name: OnlineSecurity, dtype: int64)
-------------------------
-------------------------
Series([], Name: OnlineBackup, dtype: int64)
-------------------------
-------------------------
Series([], Name: DeviceProtection, dtype: int64)
-------------------------
-------------------------
Series([], Name: TechSupport, dtype: int64)
-------------------------
-------------------------
Series([], Name: StreamingTV, dtype: int64)
-------------------------
-------------------------
Series([], Name: StreamingMovies, dtype: int64)
-------------------------
-------------------------
Series([], Name: Contract, dtype: int64)
-------------------------
-------------------------
Series([], Name: PaperlessBilling, dtype: int64)
-------------------------
-------------------------
Series([], Name: PaymentMethod, dtype: int64)
-------------------------
-------------------------
Series([], Name: Charges_Monthly, dtype: int64)
-------------------------
-------------------------
     11
Name: Charges_Total, dtype: int64
-------------------------

A coluna Churn contem dados vazios, é preciso remover pois esse tipo de dado não é util.

Outra coluna que apresenta dados vazios é a Charges_Total.

### Correção nas inconsistências dos dados

Remover linhas vazias da coluna **Churn** e da coluna **Charges_Total**

In [163]:
dados = dados[(dados['Churn'] != '') & (dados['Churn'] != ' ' ) & (dados['Churn'].notnull())]
dados = dados[(dados['Charges_Total'] != '') & (dados['Charges_Total'] != ' ' ) & (dados['Charges_Total'].notnull())]
dados

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

### Renomear o nome das colunas

In [164]:
dados.rename(columns={'customerID': 'id_cliente', 'Churn': 'cancelou', 'gender': 'genero', 'SeniorCitizen': 'idoso', 'Partner': 'possui_parceiro', 
                      'Dependents': 'possui_dependentes', 'tenure': 'meses_contrato', 'PhoneService': 'servico_telefone', 'MultipleLines': 'multiplas_linhas',
                      'InternetService': 'servico_internet', 'OnlineSecurity': 'seguranca_online', 'OnlineBackup': 'backup_online', 'DeviceProtection': 'protecao_dispositivo',
                      'TechSupport': 'suporte_tecnico', 'StreamingTV': 'possui_tv', 'StreamingMovies': 'possui_filmes', 'Contract': 'tipo_contrato', 
                      'PaperlessBilling': 'fatura_online', 'PaymentMethod': 'forma_pagamento','Charges_Monthly': 'total_mensal', 'Charges_Total': 'total_gasto'}, inplace=True)
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_cliente            7032 non-null   object
 1   cancelou              7032 non-null   object
 2   genero                7032 non-null   object
 3   idoso                 7032 non-null   int64
 4   possui_parceiro       7032 non-null   object
 5   possui_dependentes    7032 non-null   object
 6   meses_contrato        7032 non-null   int64
 7   servico_telefone      7032 non-null   object
 8   multiplas_linhas      7032 non-null   object
 9   servico_internet      7032 non-null   object
 10  seguranca_online      7032 non-null   object
 11  backup_online         7032 non-null   object
 12  protecao_dispositivo  7032 non-null   object
 13  suporte_tecnico       7032 non-null   object
 14  possui_tv             7032 non-null   object
 15  possui_filmes         7032 non-null   object
 16  tipo_contrato         7032 non-null   object
 17  fatura_online         7032 non-null   object
 18  forma_pagamento       7032 non-null   object
 19  total_mensal          7032 non-null   float64
 20  total_gasto           7032 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

### Traduzir dados para pr-BR

In [165]:
for coluna in dados:
    print(dados[coluna].unique())

['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
['No' 'Yes']
['Female' 'Male']
[0 1]
['Yes' 'No']
['Yes' 'No']
[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 37 49 66 67
 20 43 59 12 27  2 25 29 14 35 64 39 40 11  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 31 36 17 18 51 38 42]
['Yes' 'No']
['No' 'Yes' 'No phone service']
['DSL' 'Fiber optic' 'No']
['No' 'Yes' 'No internet service']
['Yes' 'No' 'No internet service']
['No' 'Yes' 'No internet service']
['Yes' 'No' 'No internet service']
['Yes' 'No' 'No internet service']
['No' 'Yes' 'No internet service']
['One year' 'Month-to-month' 'Two year']
['Yes' 'No']
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
[65.6  59.9  73.9  ... 91.75 68.8  67.85]
['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

In [166]:
traduzir = {'Yes': 'sim', 'No':'nao', '0': 'nao', '1': 'sim', 0: 'nao', 1: 'sim', 'Female': 'feminino', 'Male': 'masculino',
            'No phone service': 'sem servico telefone', 'No internet service': 'sem servico internet', 'One year': 'um ano', 'Month-to-month': 'mensal',
            'Two year': 'dois anos', 'Mailed check': 'cheque', 'Electronic check': 'cheque eletronico', 'Credit card (automatic)': 'cartao de credito',
            'Bank transfer (automatic)': 'transferencia bancaria', 'Fiber optic': 'fibra optica'}

for coluna in dados:
    dados[coluna].replace(traduzir, inplace=True)

### Adicionar gasto diario por cliente

In [167]:
dados['total_diario'] = dados['total_mensal']/30

In [168]:
dados

,id_cliente,cancelou,genero,idoso,possui_parceiro,possui_dependentes,meses_contrato,servico_telefone,multiplas_linhas,servico_internet,...,protecao_dispositivo,suporte_tecnico,possui_tv,possui_filmes,tipo_contrato,fatura_online,forma_pagamento,total_mensal,total_gasto,total_diario
0,0002-ORFBO,nao,feminino,nao,sim,sim,9,sim,nao,DSL,...,nao,sim,sim,nao,um ano,sim,cheque,65.60,593.3,2.186667
1,0003-MKNFE,nao,masculino,nao,nao,nao,9,sim,sim,DSL,...,nao,nao,nao,sim,mensal,nao,cheque,59.90,542.4,1.996667
2,0004-TLHLJ,sim,masculino,nao,nao,nao,4,sim,nao,fibra optica,...,sim,nao,nao,nao,mensal,sim,cheque eletronico,73.90,280.85,2.463333
3,0011-IGKFF,sim,masculino,sim,sim,nao,13,sim,nao,fibra optica,...,sim,nao,sim,sim,mensal,sim,cheque eletronico,98.00,1237.85,3.266667
4,0013-EXCHZ,sim,feminino,sim,sim,nao,3,sim,nao,fibra optica,...,nao,sim,sim,nao,mensal,sim,cheque,83.90,267.4,2.796667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,nao,feminino,nao,nao,nao,13,sim,nao,DSL,...,nao,sim,nao,nao,um ano,nao,cheque,55.15,742.9,1.838333
7263,9992-RRAMN,sim,masculino,nao,sim,nao,22,sim,sim,fibra optica,...,nao,nao,nao,sim,mensal,sim,cheque eletronico,85.10,1873.7,2.836667
7264,9992-UJOEL,nao,masculino,nao,nao,nao,2,sim,nao,DSL,...,nao,nao,nao,nao,mensal,sim,cheque,50.30,92.75,1.676667
7265,9993-LHIEB,nao,masculino,nao,sim,sim,67,sim,nao,DSL,...,sim,sim,nao,sim,dois anos,nao,cheque,67.85,4627.65,2.261667
7266,9995-HOTOH,nao,masculino,nao,sim,sim,63,nao,sem servico telefone,DSL,...,sim,nao,sim,sim,dois anos,nao,cheque eletronico,59.00,3707.6,1.966667